
# Created by https://www.gitignore.io/api/macos,jekyll
# Edit at https://www.gitignore.io/?templates=macos,jekyll

### Jekyll ###
_site/*
_site/2019
_site/실행방법
_site/archive
_site/assets
_site/image
_site/*.xml
_site/*.txt
_site/*.html
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos,jekyll
